@import url('https://fonts.googleapis.com/css2?family=Playball&family=Teko:wght@300;400&family=UnifrakturCook:wght@700&display=swap');

 body {
  position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
 }

 a {
  text-decoration: none;
  padding: 5px;
  color: white;
 text-shadow: 1px 1px darkblue;
 }

 p {
 color: white;
 text-shadow: 1px 1px darkblue;
 font-size: larger;
 }
 
 h2{
  text-shadow: 2px 2px darkblue;
   color: whitesmoke;
 }
 
 header {
    padding: 10px;
  }

  nav {
    text-align: right;
    margin-top: 10px;
  }

  ion-icon {
    color: whitesmoke;
    transition: color 0.2s;
    text-decoration: none;
    font-size: x-large;
  }

  header nav a {
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: none;
    margin: 10px;
    text-align: left;
}

  .logo img {
    width: 300px;
    height: 100px;
    margin-right: auto;
    background: transparent;
    backdrop-filter: blur(20px);
  }


.header-links {
    display: inline;
    position: top;
 } 

.hero {
    text-align: justify;
    color: black;
    padding: 50px;
    overflow: hidden;
}

.hero video {
     position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .btn2 {
  width: 50%;
  height: 44px;
  background: lightseagreen;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  font-size: 16px;
  font-weight: 600;
  backdrop-filter: blur(10px);
}

.random-info {
  text-align: center;
  padding: 40px 0;
  background-color: #fff;
  background: url('media/blue-ge56ceb221_1920.jpg') no-repeat fixed ;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.random-info h2 {
  font-size: 2rem;
  text-shadow: 2px 2px darkblue;
  color: whitesmoke;
}

.info {
  display: inline-block;
  margin: 10px;
  text-align: left;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.1); /* Use RGBA with alpha channel for transparency */
  padding: 20px; /* Adjust the padding for better spacing */
  border-radius: 10px; /* Add some border-radius for a cleaner look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
}

.info img {
  max-width: 150px;
  margin-right: 20px;
  vertical-align: middle;
}

.info p {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  color: whitesmoke;
  text-shadow: 2px 2px darkblue;
}



form {
  box-sizing: border-box;
}

.newsletter {
  background: transparent;
  color: #fff;
  padding: 20px;
  text-align: center;
  background: url('media/NewsletterBG.jpg') no-repeat fixed;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 10px;
  padding: 30px 40px;
}

.newsletter h2 {
  color: darkcyan;
  text-align: center;
  font-size: 32px;
}

.newsletter p {
  color: darkcyan;
  text-align: center;
  font-size: 22px;
}

.newsletter .newsletter-input {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.newsletter-input input {
  width: 75%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
}

.newsletter-input input::placeholder {
  color: darkblue;
}
.newsletter .btn {
    width: 50%;
    height: 44px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.quote {
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: aquamarine;
}

.quote blockquote {
  font-size: 1.5rem;
  color: #555;
  margin: 0;
  color: aquamarine;
  text-shadow: 2px 2px darkgreen;
}


.quote p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #888;
}


 @media (max-width: 768px) {
  header {
      padding: 10px;
  }

  header img {
      max-width: 150px;
  }

  header nav {
      display: flex;
      justify-content: flex-end;
  }

  header nav a {
      margin: 5px;
  }

  .random-info {
      padding: 20px;
  }

  .random-info h2 {
      font-size: 1.5rem;
  }

  .random-info .info {
      flex-wrap: wrap;
  }

  .random-info .info img {
      max-width: 100px;
  }

  .quote {
      padding: 20px;
  }

  .quote blockquote {
      font-size: 1rem;
  }
}
